# Compiled class files
*.class

# Logs
*.log

# Maven target directory
/target/

# JavaFX SDK if manually downloaded
/javafx-sdk*/

# IDE settings
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# NetBeans-specific files
**/nbproject/private/*
**/build/*
**/dist/*

# OS stuff
.DS_Store
Thumbs.db

